
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vdw2jk');
    src:  url('../fonts/icomoon.eot?vdw2jk#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?vdw2jk') format('truetype'),
      url('../fonts/icomoon.woff?vdw2jk') format('woff'),
      url('../fonts/icomoon.svg?vdw2jk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  
  .icon-travel:before {
    content: "\e900";
  }
  .icon-black:before {
    content: "\e901";
  }
  .icon-shape-1:before {
    content: "\e902";
  }
  .icon-shape:before {
    content: "\e903";
  }
  .icon-fence:before {
    content: "\e904";
  }
  .icon-nature-7:before {
    content: "\e905";
  }
  .icon-shield-1:before {
    content: "\e906";
  }
  .icon-school-2:before {
    content: "\e907";
  }
  .icon-arrows-4:before {
    content: "\e908";
  }
  .icon-luxury:before {
    content: "\e909";
  }
  .icon-business:before {
    content: "\e90a";
  }
  .icon-construction:before {
    content: "\e90b";
  }
  .icon-medical:before {
    content: "\e90c";
  }
  .icon-school-1:before {
    content: "\e90d";
  }
  .icon-office:before {
    content: "\e90e";
  }
  .icon-shield:before {
    content: "\e90f";
  }
  .icon-link:before {
    content: "\e910" !important;
  }
  .icon-mark:before {
    content: "\e911";
  }
  .icon-arrows-3:before {
    content: "\e912";
  }
  .icon-two:before {
    content: "\e913";
  }
  .icon-note-1:before {
    content: "\e914";
  }
  .icon-notebook:before {
    content: "\e915";
  }
  .icon-school:before {
    content: "\e916";
  }
  .icon-interface:before {
    content: "\e917";
  }
  .icon-arrows-2:before {
    content: "\e918";
  }
  .icon-nature-6:before {
    content: "\e919";
  }
  .icon-nature-5:before {
    content: "\e91a";
  }
  .icon-tool:before {
    content: "\e91b";
  }
  .icon-machine:before {
    content: "\e91c";
  }
  .icon-nature-4:before {
    content: "\e91d";
  }
  .icon-wall:before {
    content: "\e91e";
  }
  .icon-nature-3:before {
    content: "\e91f";
  }
  .icon-nature-2:before {
    content: "\e920";
  }
  .icon-nature-1:before {
    content: "\e921";
  }
  .icon-cup:before {
    content: "\e922";
  }
  .icon-diploma:before {
    content: "\e923";
  }
  .icon-people:before {
    content: "\e924";
  }
  .icon-nature:before {
    content: "\e925";
  }
  .icon-arrows-1:before {
    content: "\e926";
  }
  .icon-note:before {
    content: "\e927";
  }
  .icon-technology:before {
    content: "\e928";
  }
  .icon-time:before {
    content: "\e929";
  }
  .icon-gps:before {
    content: "\e92a";
  }
  .icon-arrows:before {
    content: "\e92b";
  }